<article class="dash-card col-md-3">
    <span class="fas fa-edit mt-2 mx-2 p-3 edit-btn"></span>
    <h3 class="titles">Title</h3>
    <div class="card-body">
        <ul>
            <li></li>
        </ul>

        <div>
            <button class="heart-btn"><img class="heart-icon" src="/images/heart-img.png" /></button>
            <button class="comment-btn"><img class="comment-icon" src="/images/comment-bubble.png" /></button>
        </div>

        <div class="comment-section">
            <div>
                <h4 class="lead text-white-50 mt-2">Comments:</h4>
                <div class="comment-container">

                </div>
            </div>

            <form class="comment-form">
                <div class="input-group">
                    <input type="text" placeholder="Add a Comment" name="comment-text" id="comment-text"
                        class="form-control" aria-describedby="comment-post"></input>
                    <button type="submit" class="comment-post" id="comment-post">submit</button>
                </div>
            </form>
        </div>
    </div>
</article>