<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Musit</title> 
        <link rel="stylesheet" href="/styles/style.css" />
    </head>
    <body>
        <header>
            <div>

            </div>  

            <h1 class="logo">
                <a class="logo-title" href="/">Musit</a>
            </h1>

            <nav>
                <a class="nav-buttons" href="/dashboard">Dashboard</a>
                <a class="nav-buttons" href="/login">Login</a>
                <a class="nav-buttons" href="/signup">Signup</a>
                <!--<button class="nav-buttons home-links" type="button" class="logout-btn">Logout</button>-->
            </nav>
        </header>

        <main>
            {{{body}}}
        </main>
        
        <footer>
            Created by Musit&copy;
        </footer>
    </body>
    
</html>