<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Musit</title> 
        <link rel="stylesheet" href="/styles/style.css" />
    </head>
    <body>
        <header>
            <div>

            </div>  

            <h1 class="logo">
                <a class="logo-title" href="/">Musit</a>
            </h1>

            <nav>
                {{#if loggedIn}}
                <a class="nav-buttons" href="/dashboard">Dashboard</a>
                <button class="nav-buttons logout-btn" type="button" id="logout-btn">Logout</button>
                {{else}}
                <a class="nav-buttons" href="/login">Login</a>
                <a class="nav-buttons" href="/signup">Signup</a>
                {{/if}}
            </nav>
        </header>

        <main>
            {{{body}}}
        </main>
        
        <footer>
            Created by Musit&copy;
        </footer>
    </body>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</html>