<section>
    <h2>Create New Playlist</h2>
    <hr>

    <form class="new-playlist-form">
        <div>
            <label for="playlist-artist">artist:</label>
            <input class="input" id="playlist-artist" name="playlist-artist" placeholder="insert artist here" />
        </div>
        <div>
            <label for="playlist-title">title:</label>
            <input class="input" type="text" id="playlist-title" name="playlist-title"
                placeholder="insert song title here" />
        </div>
          <div>
            <label for="playlist-genre">genre:</label>
            <input class="input" type="text" id="playlist-genre" name="playlist-genre"
                placeholder="insert song genre here" />
        </div>

        <button type="submit">create playlist</button>
        
    </form>
    <button type="submit" class='addsong'>Would you like to add another song?</button>
</section>

<script src="/javascript/create-playlist.js"></script>