<article>
        <!-- Re-did rebecca's form to inlude playlist title whose id will be linked to each added songs values. -->
        <form class="new-playlist-form" data-id="">
            <h2 class="text-center mt-2">Create New Playlist</h2>

            <div class="text-center d-flex justify-content-center input-group add-title"> 
                <label class="col-form-label mx-2" for="playlist-title">Title:</label>
                <input type="text" name="playlist-title" class="input form-control-sm" id="playlist-title" placeholder="New Playlist Title"/>
                <button type="button" class="btn btn-outline-dark" onclick="playlistHandler(event)" id="addTitle-btn">Add Title</button>
            </div>
    <hr>
        <!-- single form used to capture each input for artist, song title, and genre -->
        <ul class="list-group list-group-flush input-group text-center">
            <h3>Add Song to Playlist</h3>
            <li class="list-group-item">
                <label class="col-form-label" for="playlist-artist">artist:</label>
                <input class="input form-control-sm" id="playlist-artist" name="playlist-artist" placeholder="insert artist here" />
                <label class="col-form-label" for="playlist-title">title:</label>
                <input class="input form-control-sm" type="text" id="playlist-title" name="playlist-title"
                    placeholder="insert song title here" />
                <label class="col-form-label" for="playlist-genre">genre:</label>
                <input class="input form-control-sm" type="text" id="playlist-genre" name="playlist-genre"
                    placeholder="insert song genre here" />
                <button type="button" onclick="newFormHandler(event)" id="song-submit" class="btn btn-outline-primary">Add Song</button>
            </li>
        </ul>
        
        <!-- container that holds the returned vales from the input, and is used to hold count to finally display create playlist button -->
        <div class="container border border-dark rounded d-flex flex-column justify-content-center p-1 show-music">
            <button type="submit" class="d-none btn-playlist btn btn-outline-dark gap-2 col-3 mx-auto my-3">create playlist</button>
        </div>
    </form>
</article>
<script src="/javascript/create-playlist.js"></script>