<section class="hero">
    <div class="home-title">
        <h2> Welcome To Our HomePage!!</h2>
    </div>
</section>

<section class="genre-list">
    <div class="genre-con">
        <h2 class="genre-title">Rock</h2>
    </div>
    <div class="genre-con">
        <h2 class="genre-title">
            Pop
        </h2>
    </div>
    <div class="genre-con">
        <h2 class="genre-title">Hip-Hop/Rap</h2>
    </div>
    <div class="genre-con">
        <h2 class="genre-title">Country</h2>
    </div>
    <div class="genre-con">
        <h2 class="genre-title">
            Other<span class="sub-text">(excluded genres)</span>
        </h2>
    </div>
</section>

<section>
    <nav>
    </nav>
</section>

<section class="containers">
    <h2 class="titles">
        Top Playlists
    </h2>
    <section class="pop-playlist">
        <article class="playlist-card">
            <h3 class="titles">Playlist Title</h3>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>

            <div>
                <button class="heart-btn"><img class="heart-icon" src="/images/heart-img.png"/></button>
                <button class="comment-btn"><img class="comment-icon" src="/images/comment-bubble.png"/></button>
            </div>

            <div class="comment-section">
                <div>
                    <h4 class="titles">Comments:</h4>
                    <div class="comment-container">

                    </div>
                </div>

                <form class="comment-form">
                    <div class="input-group">
                        <input type="text" placeholder="Add a Comment" name="comment-text" id="comment-text" class="form-control" aria-describedby="comment-post"></input>
                        <button type="submit" class="comment-post" id="comment-post">submit</button>
                    </div>
                </form>
            </div>   
        </article>

        <article class="playlist-card">
            <h3 class="titles">Playlist Title</h3>
            <div class="container">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>

            <div>
                <button class="heart-btn"><img class="heart-icon" src="/images/heart-img.png"/></button>
                <button class="comment-btn"><img class="comment-icon" src="/images/comment-bubble.png"/></button>
            </div>

            <div class="comment-section">
                <div>
                    <h4 class="titles">Comments:</h4>
                    <div class="comment-container">
                    </div>
                </div>

                <form class="comment-form">
                    <div class="input-group">
                        <input type="text" placeholder="Add a Comment" name="comment-text" id="comment-text" class="form-control" aria-describedby="comment-post"></input>
                        <button type="submit" class="comment-post" id="comment-post">submit</button>
                    </div>
                </form>
            </div>   
        </article>

        <article class="playlist-card">
            <h3 class="titles">Playlist Title</h3>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>

            <div>
                <button class="heart-btn"><img class="heart-icon" src="/images/heart-img.png"/></button>
                <button class="comment-btn"><img class="comment-icon" src="/images/comment-bubble.png"/></button>
            </div>

            <div class="comment-section">
                <div>
                    <h4 class="titles">Comments:</h4>
                    <div class="comment-container">
                    </div>
                </div>

                <form class="comment-form">
                    <div class="input-group">
                        <input type="text" placeholder="Add a Comment" name="comment-text" id="comment-text" class="form-control" aria-describedby="comment-post"></input>
                        <button type="submit" class="comment-post" id="comment-post">submit</button>
                    </div>
                </form>
            </div>   
        </article>
    </section>
</section>
