<section class="hero">
    <div class="home-title">
        <h2> Welcome To Our HomePage!!</h2>
    </div>
</section>

<!-- Containers to hold top 10 playist title, username, and created at values per each genre-->
<section class="genre-list">
    
    <div class="card genre-con">       
        <h2 class="card-header genre-title">Rock</h2>
    </div>
    
    <div class="card genre-con">
        <h2 class=" card-header genre-title">Pop</h2>
    </div>
    <div class="card genre-con">
        <h2 class="card-header genre-title">Hip-Hop/Rap</h2>
    </div>
    <div class="card genre-con">
        <h2 class="card-header genre-title">Country</h2>
    </div>
    <div class="card genre-con">
        <h2 class="card-header genre-title">
            Other<span class="sub-text">(excluded genres)</span>
        </h2>
    </div>
</section>

<!-- Navigation buttons leading to a page showing allsongs/playsits by for each individual genre -->
<section class="side-nav">
    <nav>
        <a class="genre-buttons" href="/genre/1">Rock</a>
        <a class="genre-buttons" href="/genre/2">Pop</a>
        <a class="genre-buttons" href="/genre/3">Hip-Hop</a>
        <a class="genre-buttons" href="/genre/4">Country</a>
        <a class="genre-buttons" href="/genre/5">Other</a>
    </nav>
</section>

<!-- Containers section holding partial for each top voted playlists, and each comment section for playlists -->
<section class="containers">
    <h2 class="titles">
        Top Playlists
    </h2>
    <section class="pop-playlist">

        <!-- iterates through playlists array, and displays object data in playlists and modal partials -->
        {{#each playlists as |playlist|}}
            {{>playlist-container}}  
            
            {{>modal}}
        {{/each}}       
    </section>
</section>
<script src="/javascript/modal.js"></script>