<section class="hero">
    <div class="home-title">
        <h2> Welcome To Our HomePage!!</h2>
    </div>
</section>

<section class="container">
    <h2 class="title">
        Most Popular Playlists
    </h2>
    <section class="pop-playlist">
        <div class="playlist-card">
            <article>
                <h1 class="title">Playlist Title</h1>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                <div>
                    <button><img class="heart-btn" src="/images/heart-img.png"/></button>
                </div>

                <form class="comment-form">
                    <div class="d-grid">
                        <label for="comment-text" class="comment-label">Add a comment:</label>
                        <div>
                            <textarea name="comment-text" id="comment-text"></textarea>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary ms-3">submit</button>
                    </div>
                </form>

                <div>
                    <h4 class="title">Comments:</h4>
                    <div class="comment-section">

                    </div>
                </div>
            </article>
        </div>

        <div class="playlist-card">
            <article>
                <h1 class="title">Playlist Title</h1>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                <div>
                    <button><img class="heart-btn" src="/images/heart-img.png"/></button>
                </div>

                <form class="comment-form">
                    <div class="d-grid">
                        <label for="comment-text" class="comment-label">Add a comment:</label>
                        <div>
                            <textarea name="comment-text" id="comment-text"></textarea>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary ms-3">submit</button>
                    </div>
                </form>

                <div>
                    <h4 class="title">Comments:</h4>
                    <div class="comment-section">

                    </div>
                </div>
            </article>
        </div>

        <div class="playlist-card">
            <article>
                <h1 class="title">Playlist Title</h1>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                <div>
                    <button id="like-button"><img class="heart-btn" src="/images/heart-img.png"/></button>
                </div>

                <form class="comment-form">
                    <div class="d-grid">
                        <label for="comment-text" class="comment-label">Add a comment:</label>
                        <div>
                            <textarea name="comment-text" id="comment-text"></textarea>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary ms-3">submit</button>
                    </div>
                </form>

                <div>
                    <h4 class="title">Comments:</h4>
                    <div class="comment-section">

                    </div>
                </div>
            </article>
        </div>
    </section>
</section>

<section class="genre-list">
    <div>
        <h3>Rock</h3>
    </div>
    <div>
        <h3>
            Pop
        </h3>
    </div>
    <div>
        <h3>Hip-Hop/Rap</h3>
    </div>
    <div>
        <h3>Country</h3>
    </div>
    <div>
        <h3>
            Other<span class="sub-text">(excluded genres)</span>
        </h3>
    </div>
</section>
