<Section>
    <div>
        <h2>
            LOGIN
        </h2>
    </div>

    <div>
        <form class="login-form">
            <div>
                <label for="login-email">Email:</label>
                <input type="email" name="login-email" id="login-email" />
            </div>

            <div>
                <label for="login-password">Password:</label>
                <input type="password" name="login-password" id="login-password" />
            </div>

            <div>
                <button type="submit" id="submit-login">Login</button>
            </div>

            <div>
                <p>If you don't have an account yet, Sign-Up Here:</p>
                <button><a class="signUp-btn" href='/signup'>Sign-Up</a></button>
            </div>
        </form>
    </div>
</Section>
<script src="/javascript/login.js"></script>