<Section class="d-grid justify-content-center">
    <div>
        <h2 class="form-title">
            LOGIN
        </h2>
    </div>

    <div>
        <form class="login-form">
            <div class="mb-2">
                <label for="login-email">Email:</label>
                <input type="email" name="login-email" id="login-email" class="login-input" placeholder="email"/>
            </div>

            <div class="mb-2">
                <label for="login-password">Password:</label>
                <input class="login-input" type="password" name="login-password" id="login-password" placeholder="password"/>
            </div>

            <div>
                <button type="submit" id="submit-login" class="btn btn-outline-dark mb-2">Login</button>
            </div>

            <div>
                <p>If you don't have an account yet, Sign-Up Here:</p>
                <a class="btn btn-outline-dark" href='/signup'>Sign-Up</a>
            </div>
        </form>
    </div>
</Section>
<script src="/javascript/login.js"></script>