<section>
    <div>
        <h2>SIGN-UP</h2>
    </div>

    <div>
        <form class="signup-form">
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" placeholder="New User"/>
            </div>

            <div>
                <label for="signUp-email">Email:</label>
                <input type="email" name="signUp-email" id="signUp-email" placeholder="user-email@gmail.com" />
            </div>

            <div>
                <label for="signUp-password">Password:</label>
                <input type="password" name="signUp-password" id="signUp-password" placeholder="password1234" />
            </div>

            <div>
                <button type="submit" id="signUp-button">Sign-Up</button>
            </div>

            <div>
                <p>If you have already created an account with us, then you can Login here:</p>
                <button><a class="login-btn" href="/login">Login</a></button>
            </div>
        </form>
    </div>
</section>
<script src="/javascript/signup.js"></script>