<section class="d-grid justify-content-center">
    <div>
        <h2 class="form-title">
            SIGN-UP
        </h2>
    </div>

    <div>
        <form class="signup-form">
            <div class="mb-2">
                <label for="username">Username:</label>
                <input class="signup-input" type="text" name="username" id="username" placeholder="New User"/>
            </div>

            <div class="mb-2">
                <label for="signUp-email">Email:</label>
                <input class="signup-input" type="email" name="signUp-email" id="signUp-email" placeholder="user-email@gmail.com" />
            </div>

            <div class="mb-2">
                <label for="signUp-password">Password:</label>
                <input class="signup-input" type="password" name="signUp-password" id="signUp-password" placeholder="password1234" />
            </div>

            <div>
                <button type="submit"class="btn btn-outline-dark mb-2" id="signUp-button">Sign-Up</button>
            </div>

            <div>
                <p>If you have already created an account with us, then you can Login here:</p>
                <a class="login-btn btn btn-outline-dark" href="/login">Login</a>
            </div>
        </form>
    </div>
</section>
<script src="/javascript/signup.js"></script>